.main{
width: 40%;
margin: 50px auto;
}
.search-input{
  padding-bottom: 5px;
  box-shadow: none !important;
  border: 0 !important;
  outline: none !important;
}
.search-input:focus{
  padding-bottom: 5px;
  box-shadow: none !important;
  border: 0 !important;
  outline: none !important;
}
.search-btn{
  background-color: #fff;
  box-shadow: none !important;
  border: 0 !important;
  outline: none !important;
}
.predict-btn{
color:black;
font-weight: bold;
background-color:#5cdb94;
}
.predict-btn:hover {
background-color:#8de4af;
}
.data{
color:#dc3545;
}
.btn-get{
font-weight: bold;
font-size: 20px;
background-color:#5cdb94;
}
.btn-get:hover{
background-color:#8de4af;
}
.search-btn{
font-weight: bold;
background-color:#5cdb94;
}
.search-btn:hover{
background-color:#8de4af;
}
@import url(https://fonts.googleapis.com/css?family=Karla);

.ani{
  font-family: "Karla", sans-serif;
   text-align: center;
   font-size: 32px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.cursor {
    animation: blink 0.7s infinite;
}
.graph-btn{
color:black;
font-weight: bold;
background-color:#5cdb94;
}
.graph-btn:hover {
background-color:#8de4af;
}